@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;
}

.swiper-pagination {
  position: static !important;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #b21b29 !important;
}

.chat-tooltip {
  position: fixed;
  bottom: 80px;
  /* Adjust this based on the position of your chat widget */
  right: 20px;
  width: 200px;
  /* Same position as your chat widget */
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 2px 10px rgb(0, 0, 0);
  z-index: 1000;
  /* Ensure the tooltip is on top */
  opacity: 0.9;
}
.woot-widget-bubble{
  bottom: 20px !important;
}


@media only screen and (max-width:768px) {
  .woot-widget-bubble{
    bottom: 70px !important;
  }
  .chat-tooltip {
    position: fixed;
    bottom: 80px;
    /* Adjust this based on the position of your chat widget */
    right: 20px;
    width: 200px;
    margin-bottom: 40px;
    /* Same position as your chat widget */
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    z-index: 1000;
    /* Ensure the tooltip is on top */
    opacity: 0.9;
  }

}